<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
<style>



.m-b-md {
  margin-bottom: 10%;
}

.m-t-xs {
  margin-top: 2%;
}

.m-t-sm {
  margin-top: 5%;
}

* {
  outline: 0 !important;
}



h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2em;
  font-weight: 700;

  color: rgb(3, 58, 240);
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #FFF;
}

a {
  color: #FFF;
}
a:hover {
  text-decoration: none;
  color: #FFF;
}

#survey-form label,
#survey-form .labels {
  display: block;
  margin-bottom: 2%;
  padding-left: 25%;
  padding-right: 25%;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: rgb(17, 17, 17);
  letter-spacing: 0.5px;
}
#survey-form input::-webkit-input-placeholder {
  color: transparent !important;
}
#survey-form input::-moz-placeholder {
  color: transparent !important;
}
#survey-form input:-ms-input-placeholder {
  color: transparent !important;
}
#survey-form input:-moz-placeholder {
  color: transparent !important;
}
#survey-form input,
#survey-form select {
  display: block;
  width: 100%;
  overflow: hidden;
  outline: none;
  border: 2px solid #333;
}
#survey-form input {
  margin-top: 1.5%;
  padding: 0 0 5px 0;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 1.1em;
  font-weight: 300;
  color: rgb(17, 154, 218);
}
#survey-form input:focus {
  border-color: rgb(0, 118, 228);
}
#survey-form [type=checkbox],
#survey-form [type=radio] {
  display: inline-block;
  width: auto;
  margin: 0px 10px 0 0;
}
#survey-form [type=checkbox],
#survey-form [type=radio] {
  display: inline-block;
  margin: 0 10px 0 0 !important;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 23px;
  width: 23px;
  transition: all 0.15s ease-out 0s;
  background: #5997df;
  color: #FFF;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  border: 1px solid #FFF;
}
#survey-form [type=checkbox]:hover,
#survey-form [type=radio]:hover {
  border-color: #85FFC7;
}
#survey-form [type=checkbox]:checked:before,
#survey-form [type=radio]:checked:before {
  display: inline-block;
  height: 21px;
  width: 21px;
  position: relative;
  left: 0;
  bottom: 0;
  content: "";
  text-align: center;
  font-family: "Glyphicons Halflings";
  line-height: 20px;
  font-size: 15px;
  color: #85FFC7;
}
#survey-form [type=checkbox]:focus,
#survey-form [type=radio]:focus {
  outline: none;
  border-color: #FFF;
}
#survey-form [type=radio] {
  border-radius: 50%;
}
#survey-form [type=radio]:after {
  border-radius: 50%;
}
#survey-form [type=number] {
  width: 45px;
}
#survey-form [type=number]::-webkit-inner-spin-button, #survey-form [type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
#survey-form select {
  height: 40px;
  padding-left: 5px;
  background-color: #37404a;
  border: 2px solid #FFF;
  color: rgb(14, 159, 255);
}
#survey-form select option {
  padding: 5px 10px;
  font-weight: 300;
  cursor: pointer;
}
#survey-form select option:hover {
  background-color: #85FFC7;
}
#survey-form textarea {
  resize: none;
  margin-top: 2%;
  padding: 10px 10px 0px 20px;
  width: 100%;
  height: 90px;
  color: rgb(65, 203, 238);
  background-color: #37404a;
  border: 2px solid #FFF;
}
#survey-form .btn {
  display: inline-block;
  margin-left: 200px;
  width: 50%;
  margin: 3% 0 0 25%;
  height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid #297fb996;
  border-radius: 0;
  font-weight: 500;
  font-size: 1.2em;

  color: rgb(132, 134, 134);
  text-align: center;

  background: #6dd4faad;
  transition: color 0.25s ease;
}
#survey-form .btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #85FFC7;
  transform-origin: left;
  transition: width 0.5s ease;
  z-index: -1;
}
#survey-form .btn:hover {
  color: #37404a;
}
#survey-form .btn:hover:after {
  width: 100%;
}
#survey-form fieldset {
  margin: 5% 0 0 0;
}

.gradient{

  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);

}


input{

  color: #333;
}

.back{

  background-color: #FFF;
}


</style>
  <div class="pt-24">
    </div>
    <div class="relative -mt-12 lg:-mt-24 gradient">
      <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-2.000000, 44.000000)" fill="#DCE5FD" fill-rule="nonzero">
            <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
            <path
              d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
              opacity="0.100000001"
            ></path>
            <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
          </g>
          <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <path
              d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
            ></path>
          </g>
        </g>
      </svg>
    </div>



      <div class="col-xs-12  col-lg-6 back pb-28">
         <div class="m-b-md text-center">
            <h1 id="title">Sondaggio su Randomly</h1>
            <p id="description" class="description" class="text-center">Condividi con gli sviluppatori il tuo parere sull'applicazione!</p>
         </div>
         <form method="GET" action="" id="survey-form" name="survey-form">
            <fieldset>
               <label for="name" id="name-label">
               Nome *
               <input class="" type="text" id="name" name="name" placeholder="Enter your name (required)" required />
               </label>
            </fieldset>
            <fieldset>
               <label for="email" id="email-label">
               Email *
               <input class="" type="email" id="email" name="email" placeholder="Enter your email (required)" required />
               </label>
            </fieldset>
            <fieldset>
               <label for="number" id="number-label">
               Età *
               <input class="" type="number" id="number" name="number" min="8" max="112" placeholder="Enter you age (required)" required />
               </label>
            </fieldset>
            <fieldset>
               <label for="dropdown">
                  Quale valutazione daresti all'applicazione? *
                  <select id="dropdown" name="dropdown" class="m-t-xs">
                     <option value="student" selected>Unica nel suo genere, idea innovativa e progettazione perfetta</option>
                     <option value="ftLob">Molto bella, interessante il concept è l'idea </option>
                     <option value="ftLearner">Sopra la media, nel complesso il lavoro è notevole</option>
                     <option value="notSaying">Accettabile, migliorabile ma solida</option>
                     <option value="other">Discreta, si può fare molto meglio</option>
                  </select>
               </label>
            </fieldset>
            <fieldset>
               <div class="labels">
                  Quanto è probabile che consiglierai Randomly ad amici e conoscenti? *
               </div>
               <label class="m-b-xs">
               <input type="radio" name="survey-form-gender" value="definitely" checked /> Decisamente probabile
               </label>
               <label class="m-b-xs">
               <input type="radio" name="survey-form-gender" value="maybe" /> Forse
               </label>
               <label class="m-b-xs">
               <input type="radio" name="survey-form-gender" value="notSure" /> Poco probabile
               </label>
            </fieldset>
            <fieldset>
               <label for="survey-form-like">
                  Qual'è la feature che più apprezzi?
                  <select id="survey-form-like" name="survey-form-like" class="m-t-xs">
                     <option value="challenges" selected>La generazione di frasi</option>
                     <option value="projects">La generazione di verbi</option>
                     <option value="community">Il servizio clienti</option>
                     <option value="openSource">Gli acquisti in-app</option>
                  </select>
               </label>
            </fieldset>
            <fieldset>
               <div class="labels">
                  Cosa pensi possa essere migliorato in futuro? *
               </div>
               <label for="survey-form-improve1" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve1" value="feProjects">
               Settore front-end
               </label>
               <label for="survey-form-improve2" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve2" value="beProjects">
               Settore back-end
               </label>
               <label for="survey-form-improve3" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve3" value="dataVisualization">
               Algoritmo di generazione
               </label>
               <label for="survey-form-improve4" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve4" value="challenges">
               Servizio clienti
               </label>
               <label for="survey-form-improve5" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve5" value="openSources">
               Aggiunta donazioni in crypto
               </label>
               <label for="survey-form-improve6" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve6" value="gitter">
               Chat tra utenti
               </label>
               <label for="survey-form-improve7" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve7" value="videos">
               Video interattivi
               </label>
               <label for="survey-form-improve8" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve8" value="meetup">
               Eventi online
               </label>
               <label for="survey-form-improve9" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve9" value="wiki">
               Nuove lingue
               </label>
               <label for="survey-form-improve10" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve10" value="forum">
               Forum dedicato
               </label>
               <label for="survey-form-improve11" class="m-b-xs">
               <input type="checkbox" id="survey-form-improve11" value="additional">
               Nuovi livelli di premium account
               </label>
            </fieldset>
            <fieldset>
               <label for="survey-form-suggestions">
               Hai qualche commento da rivolgere agli sviluppatori?
               <textarea id="survey-form-suggestions" maxlength="194"></textarea>
               </label>
            </fieldset>
            <button id="submit" type="submit" class="btn object-center">INVIA IL SONDAGGIO</button>
         </form>
      </div>




    <!-- Change the colour #f8fafc to match the previous section colour -->
    <svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
          <g class="wave" fill="#f8fafc">
            <path
              d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
            ></path>
          </g>
          <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
            <g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
              <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
              <path
                d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                opacity="0.100000001"
              ></path>
              <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" opacity="0.200000003"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>




</body>

